:root {
  --primary: #438bff;
  --primary-dark: #005fcb;
  --primary-light: #83baff;
  --secondary: #f5f5f5;
  --black: black;
  --grey: slategrey;
  --grey-light: rgba(0,0,0,0.15);
  --grey-dark: rgba(0,0,0,0.8);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inconsolata, monospace;
  font-size: 18px;
  background-color: var(--secondary);
}
html {
  height: 100%;
}
body,
body > div,
body > div > div {
  min-height: 100%;
  display: grid;
}
a {
  text-decoration: none;
  color: var(--primary);
  transition: color ease 0.5s;
  cursor: pointer;
}

a:hover {
  color: var(--black);
}

.stalemate-font {
  font-family: Stalemate;
  color: var(--primary);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1.stalemate-font {
  font-size: 4em;
}
h2.stalemate-font {
  font-size: 3em;
}
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
