.nav {
  /* display: inline-block; */
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav > a {
  margin: 10px;
  color: var(--black);
  padding: 5px 5px 3px 5px;
  border-bottom: 2px solid var(--primary-light);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.nav > a:hover {
  color: var(--primary);
}

.activeLink {
  background-color: var(--grey-light);
}
