.list {
  margin-top: 40px;
  text-align: left;
  display: inline-block;
}
.list > li {
  margin-bottom: 10px;
}
.list > li > a {
  display: flex;
  align-items: center;
  color: black;
}
.list > li > a:hover {
  display: flex;
  align-items: center;
  color: var(--primary-light);
}
.icon {
  font-size: 2em;
}

.label {
  margin-left: 10px;
  color: black;
}
